@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Tilt Warp', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

/*@font-face {*/
/*    font-family: '"Space Grotesk"';*/
/*    src: url('../../resources/fonts/spacegrotesk/SpaceGrotesk-Bold.ttf') format('ttf');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

.font-custom {
    font-family: '"Space Grotesk"', sans-serif;
}



.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right {
    margin-left: auto;
}

.Home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-side {
    position: absolute;
    left: 0;
}

.right-side {
    position: absolute;
    right: 0;
}

.relative:hover .tooltip {
    visibility: visible;
}


/*.Home {*/
/*  text-align: center;*/
/*  height: 100vh;*/
/*}*/

/*.font-test {*/
/*  font-family: "Merriweather", serif;*/
/*}*/

/*.Home-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*.Home-header {*/
/*  background-color: theme('colors.teagreen');*/
/*  min-height: 92vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: #798777;*/
/*}*/