.Home {
  text-align: center;
  height: 100vh
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
  
}

.Home-header {
  background-color: tan;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #798777;
}

pre {
  font-family: "Open Sans Bold'", sans-serif;
  margin: auto;
}