.HoveringPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HoveringPageHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.HoveringPageContent {
  padding: 10px;
}