body {
  margin: 0;
  /*
    font-family lists fonts to use (check if first font is present, if yes it is applied, if not next one is tried)
  */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /*
    Control of text rendering (smooth edges), first setting for Safari / Chrome, second for Firefox
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}